/usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &
easyeffects --gapplication-service &
vesktop --start-minimized &
udiskie &
{{- if eq .chezmoi.hostname "arch-pc" }}
corectrl --minimize-systray &
{{- end }}

